:root
{
    --red: #c8392f;
    --shadow:var(--red) 0 3px 6px, var(--red) 0 3px 6px;
    --shadowinset:var(--red) 0 3px 6px inset, var(--red) 0 3px 6px inset;

}

.body
{
    padding: 5px 20px;
    background-color: black;
    font-family: "Ubuntu", sans-serif;
}

.secnav
{
    max-width: 1300px;
    min-width: 320px;
    width: 90%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.div
{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    max-height: 50px;
    box-shadow: var(--shadow);
}

.title
{
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
    line-height: 1.2em;
}

.steag
{
    box-shadow: var(--shadowinset);
    padding: 0 20px 0 20px;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
    background-color: black;
    display: flex;
    justify-content: center !important;
}

.sec
{
    max-width: 1300px;
    min-width: 320px;
    width: 90%;
    margin: 5px auto 15px auto;
    display:flex;
    flex-direction: row;
    justify-content: start;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow);
    min-height: 50vh;
    padding: 0;
}

.sec_n_m_h
{
    min-height: 10vh;
}

.row
{
    display:flex;
    flex-direction: row;
}

.column
{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    max-width: 33.3%;
    min-width: 30%;
}

.column-rev-mob
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.navbar
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 35%;
    min-width: 35%;
    max-height: 50px;
    margin: 0 10px 0 0;
    box-shadow: var(--shadow);
}

.navlink
{
    margin:5px;
    color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
}


.navlink:hover
{
    color: black;
}

.navlink:active
{
    color: black;
}

.logo
{
    max-height: 30px;
    margin: 5px 20px;
    position: relative;
}

.logo:hover
{
    max-height: 25px;
    margin: 8px 20px;
}

.divsearch
{
    display:flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 35%;
    margin: 10px 0 10px 10px;
    min-height: 50px;
    max-height: 50px;
    align-items: center;
    box-shadow: var(--shadow);
}

.divsearch i
{
    color:var(--red);
}

.btn
{
    position: absolute;
    margin-left: 20px;
    padding: 5px 5px;
    font-size: 16px;
    background-color: transparent;
    border: 0;
}

.btn:focus
{
    border: 0;
}

.input{
    width: 100%;
    padding: 12px 40px;
    margin: 10px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: var(--red);
    border-style: solid;
    font-size: 16px;
    font-family: inherit;
    color: var(--red);
    text-transform: uppercase;
    box-shadow: var(--shadowinset);
    background-color: black;
}

.input:focus
{
    border-color: black;
    outline: 1px solid black;
}

::-webkit-input-placeholder {
    color: var(--red);
    text-transform: uppercase;
}

.label
{
    width: 95%;
}

.img
{
    max-width: 250px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}


.description
{
    font-size: 14px;
    font-style: italic;
    color: var(--red);
    text-align: center;
    line-height: 1.2em;
}

.bold
{
    font-weight: 900;
}

.description2
{
    font-weight: normal;
    font-size: 14px;
    color: var(--red);
    text-align: left;
    line-height: 1.2em;
    max-width: 95%;
}

.tab1
{
    border: 1px solid var(--red);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.th1
{
    font-size: 16px;
    color: var(--red);
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid var(--red);
    border-bottom-left-radius: 10px;
}

.td1
{
    border-left: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
    font-size: 14px;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

.tab1:hover
{
    box-shadow: var(--shadow);
}

/* Mobile version - not finished */
@media screen and (max-width: 700px) {
    .secnav
    {
        max-width: 500px;
        width: 90%;
        margin:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .body
    {
        padding: 15px;
    }

    .logo
    {
        max-height: 20px;
        margin: 5px 5px;
    }

    .navbar
    {
        width: 100%;
        margin: 15px 0 15px 0;
        max-width: 450px;
    }

    .divsearch
    {
        width: 100%;
        margin: 15px 0 15px 0;
        max-width: 450px;
    }

    .div
    {
        width: 100%;

    }

    .sec
    {
        width: 90%;
        max-width: 450px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        padding: 10px 0;
    }

    .row
    {
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .img
    {
        max-width: 200px;
    }

    .steag
    {
        width: 75%;
        margin: 0 0 10px 0;
    }

    .tab1
    {
        width: 80%;
    }

    .column-rev-mob
    {
        flex-direction: column-reverse;
    }

    .description2
    {
        max-width: 80%;
    }

    .navlink
    {
        font-size: 14px;
    }

    .column
    {
        max-width: 100%;
    }
}